
@{
    ViewBag.Title = "DuplicateUser";
}

<div class="alert alert-warning">
    <h2>Duplicate User</h2>
    <h3>Unable to create user record because one already exists</h3>
</div>
@Html.ActionLink("Return to home","index","home")

