
@{
    ViewBag.Title = "NotAllowed";
}

<<div class="alert alert-warning">
    
    <h2>Permission denied</h2>
    <h3>You are only allowed to edit your own information</h3>
    </div>
@Html.ActionLink("Return to home page", "Index","Home")

