
@{
    ViewBag.Title = "notAllowedToEmail";
}
<div class="alert alert-warning">
    <h3>Sorry, in this test application you are only allowed to send an email to yourself.</h3>
</div>
@Html.ActionLink("Return to home page", "Index", "Home")
